<div class="component-wrapper">
    {{#each fonts}}
	    <div class="border"></div>
	    <p class="type_iota_econ_bold">{{className}}</p>
	    <p>{{fontDetails}}</p>
	    <p class={{className}}>{{sampleText}}</p>
    {{/each}}
</div>