<div class="component-wrapper">
    {{#each fonts}}
    	<div class="font-wrapper">
		    <p>{{className}}</p>
		    <p>{{fontDetails}}</p>
		</div>
	    <p class={{className}}>{{sampleText}}</p>
    {{/each}}
</div>