.eiu-links {
    margin-left: 19px;
    position: relative;
    border-bottom-color: transparent;
    line-height: 1.39;
    @extend .eiu-type-style-medium;
    @extend .eiu-type-size-eta;

    &:before {
        height: 13px;
        width: 13px;
        content: "";
        position: absolute;
        top: 4px;
        left: -19px;
        z-index: 10;
    }

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-athens;
        border-bottom: 2px solid $color-brand-sec-athens;

        &:before {
            left: -16px;
            -webkit-transition: left 0.5s ease;
            transition: left 0.5s ease;
        }
    }

    &:focus {
        color: $color-brand-sec-athens;
        outline: solid 2px $color-brand-sec-honolulu;
    }

    &:active {
        color: $color-brand-bejing;
        outline-color: transparent;
        border-bottom-color: $color-brand-sec-honolulu;
    }

    &.eiu-minor {
        margin-left: 18px;
        border-bottom-width: 1px;
        @extend .eiu-type-size-theta;

        &:before {
            height: 11.4px;
            width: 11.6px;
            left: -18px;
        }

        &:hover {
            background-color: transparent;
            color: $color-brand-sec-athens;
            border-bottom-width: 1px;

            &:before {
                left: -15px;
                -webkit-transition: left 0.5s ease;
                transition: left 0.5s ease;
            }
        }

        &:focus {
            outline-width: 1px;
        }

        &:active {
            color: $color-brand-bejing;
            outline-color: transparent;
            border-bottom: solid 1px $color-brand-sec-honolulu;
        }
    }
}

/* Arrow links - START */

.eiu-icn-arrow {
    @extend .eiu-links;

    &:before {
        background: url(../images/icons/icn_arrow_forward.svg) no-repeat;
    }
}

.eiu-icn-arrow-milo {
    @extend .eiu-links;
    font-family: MiloTEOS;

    &:before {
        background: url(../images/icons/icn_arrow_forward.svg) no-repeat;
    }
}

.eiu-icn-arrow-white {
    @extend .eiu-links;
    margin-left: 26px;

    &:before {
        background: url(../images/icons/icn_arrow_forward_white.svg) no-repeat;
        left: -26px;
    }

    &:after {
        height: 22px;
        width: 22px;
        content: "";
        position: absolute;
        top: 0;
        left: -30px;
        background-color: $color-brand-sec-chicago;
        border-radius: 50%;
    }

    &:hover {
        &:before {
            left: -26px;
        }
        &:after {
            background-color: $color-brand-sec-athens;
        }
    }

    &:focus:after {
        background-color: $color-brand-sec-athens;
    }

    &:active:after {
        background-color: $color-brand-sec-honolulu;
    }

    &.eiu-minor {
        margin-left: 24px;

        &:before {
            left: -24px;
        }

        &:after {
            height: 20px;
            width: 20px;
            left: -28px;
        }

        &:hover:before {
            left: -24px;
        }
    }
}

/* Arrow links - END */

/* Button links - START  */

.eiu-button-links {
    position: relative;
    line-height: 1.38;
    padding: 4px 30px 4px 15px;
    border: solid 1px $color-brand-sec-cardiff;
    border-radius: 4px;
    color: $color-brand-sec-chicago;
    @extend .eiu-type-style-medium;

    @include bp-mobile {
        padding: 4px 26px 4px 11px;
    }

    &:after {
        height: 11.4px;
        width: 11.6px;
        content: "";
        position: absolute;
        top: 9px;
        margin-left: 7px;
    }

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-athens;
    }

    &:focus {
        box-shadow: 0 0 0 2px $color-brand-sec-honolulu;
        outline: none;
        border-color: transparent;
    }

    &:active {
        box-shadow: 0 0 0 1px $color-brand-sec-honolulu;
        border-color: transparent;
    }
}

.eiu-emphasis {
    @extend .eiu-button-links;

    &:after {
        background: url(../images/icons/icn_arrow_forward_chicago.svg) no-repeat;
    }

    &:hover:after {
        background: url(../images/icons/icn_arrow_forward_athens.svg) no-repeat;
    }
}

.eiu-action-links {
    position: relative;
    border: solid 1px $color-brand-sec-cardiff;
    border-radius: 16px;
    line-height: 1.38;
    padding: 4px 15px 4px 41px;
    @extend .eiu-type-style-medium;

    @include bp-mobile {
        padding: 4px 11px 4px 37px;
    }

    &:before {
        height: 24px;
        width: 24px;
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        margin-left: 12px;
    }

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-athens;
    }

    &:focus {
        box-shadow: 0 0 0 2px $color-brand-sec-honolulu;
        outline: none;
        border-color: transparent;
    }

    &:active {
        box-shadow: 0 0 0 1px $color-brand-sec-honolulu;
        border-color: transparent;
    }
}

.eiu-icn-headset-link {
    @extend .eiu-action-links;

    &:before {
        background: url(../images/icons/icn_headset_chicago.svg) no-repeat;
    }

    &:hover:before {
        background: url(../images/icons/icn_headset_athens.svg) no-repeat;
    }
}

.eiu-icn-print-link {
    @extend .eiu-action-links;

    &:before {
        background: url(../images/icons/icn_print_chicago.svg) no-repeat;
    }

    &:hover:before {
        background: url(../images/icons/icn_print_athens.svg) no-repeat;
    }
}

.eiu-icn-screen-link {
    @extend .eiu-action-links;

    &:before {
        background: url(../images/icons/icn_screen_chicago.svg) no-repeat;
    }

    &:hover:before {
        background: url(../images/icons/icn_screen_athens.svg) no-repeat;
    }
}

.eiu-icn-trust-link {
    @extend .eiu-action-links;

    &:before {
        background: url(../images/icons/icn_trust_chicago.svg) no-repeat;
    }

    &:hover:before {
        background: url(../images/icons/icn_trust_athens.svg) no-repeat;
    }
}

.eiu-icn-sync-link {
    @extend .eiu-action-links;

    &:before {
        background: url(../images/icons/icn_sync_chicago.svg) no-repeat;
    }

    &:hover:before {
        background: url(../images/icons/icn_sync_athens.svg) no-repeat;
    }
}
/* Button links - END  */

/* Navigation links - START */

.eiu-nav-link {
    @extend .eiu-type-size-eta;
    border-bottom: none;
    line-height: 1.39;

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-athens;
    }

    &:focus {
        outline: solid 2px $color-brand-sec-honolulu;
        color: $color-brand-sec-athens;
    }

    &:active {
        color: $color-brand-sec-chicago;
        outline: none;
    }

    &.eiu-selected {
        @extend .eiu-type-style-bold;
    }
}

.eiu-icn-nav-link {
    @extend .eiu-nav-link;
    margin-left: 28px;
    position: relative;

    &:before {
        height: 17.5px;
        width: 17.5px;
        content: "";
        position: absolute;
        top: 2px;
        left: -28px;
        background: url(../images/icons/icn_search_kiev.svg) no-repeat;
    }
}

.eiu-nav-link-inverse {
    color: $color-brand-thimpu;
    @extend .eiu-type-size-eta;
    border-bottom: none;
    line-height: 1.39;

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-berlin;
    }

    &:focus {
        outline: solid 2px $color-brand-sec-honolulu;
        color: $color-brand-sec-berlin;
    }

    &:active {
        color: $color-brand-sec-cardiff;
        outline: none;
    }

    &.eiu-selected {
        @extend .eiu-type-style-bold;
    }
}
.eiu-icn-nav-link-inverse {
    @extend .eiu-nav-link-inverse;
    margin-left: 26px;
    position: relative;

    &:before {
        height: 17.5px;
        width: 17.5px;
        content: "";
        position: absolute;
        top: 3px;
        left: -26px;
        background: url(../images/icons/icn_search_berlin.svg) no-repeat;
    }
}
.eiu-nav-link-inverse-sec {
    color: $color-brand-thimpu;
    border-bottom: solid 1px transparent;

    &:hover {
        background-color: transparent;
        color: $color-brand-sec-berlin;
        border-bottom-color: $color-brand-sec-berlin;
    }

    &:focus {
        outline: solid 1px $color-brand-sec-honolulu;
        color: $color-brand-sec-berlin;
    }

    &:active {
        outline: none;
        border-bottom-color: $color-brand-thimpu;
    }
}

.eiu-icn-nav-link-inverse-sec {
    @extend .eiu-nav-link-inverse-sec;
    margin-left: 22px;
    position: relative;

    &:before {
        height: 14px;
        width: 14px;
        content: "";
        position: absolute;
        top: 3px;
        left: -22px;
        background: url(../images/icons/icn_search_berlin.svg) no-repeat;
    }
}

.eiu-nav-link-inverse-minor {
    @extend .eiu-nav-link-inverse-sec;
    @extend .eiu-type-size-iota;
}

/* Navigation links - END */
/* Icon links - START */
.eiu-icon-links {
    height: 36px;
    width: 36px;
    background-color: $color-brand-sec-kiev;
    background-repeat: no-repeat;
    border-radius: 50%;
    border-bottom: none;
    border: 2px solid $color-brand-thimpu;

    &:hover, &:active {
        background-color: $color-brand-bejing;
    }

    &:focus {
        border-color: $color-brand-sec-honolulu;
        outline: none;
    }

    &.eiu-icn-disabled {
        background-color: $color-brand-sec-berlin;
        cursor: not-allowed;
    }
}

.eiu-icn-twitter {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_twitter_white.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_twitter_london.svg);
    }
}

.eiu-icn-facebook {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_facebook_white.svg);
    background-position: 11px 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_facebook_london.svg);
    }
}

.eiu-icn-instagram {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_instagram_white.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_instagram_london.svg);
    }
}

.eiu-icn-youtube {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_youtube_white.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_youtube_london.svg);
    }
}

.eiu-icn-linkedin {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_linkedin_white.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_linkedin_london.svg);
    }
}

.eiu-icn-mail {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_mail_white.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_mail_london.svg);
    }
}

.eiu-icn-print {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_print_white.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_print_london.svg);
    }
}

.eiu-icn-rssfeed {
    @extend .eiu-icon-links;
    background-image: url(../images/icons/icn_rssfeed_white.svg);
    background-position: 9px 5px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_rssfeed_london.svg);
    }
}

.eiu-icon-links-sec {
    background-color: $color-brand-thimpu;
    border-color: $color-brand-sec-kiev;

    &:hover, &:active {
        background-color: $color-brand-thimpu;
        opacity: 0.85;
    }

    &.eiu-icn-disabled {
        background-color: #fff;
        opacity: 0.25;
    }
}

.eiu-icn-twitter-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_twitter_kiev.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_twitter_london.svg);
    }
}

.eiu-icn-facebook-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_facebook_kiev.svg);
    background-position: 11px 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_facebook_london.svg);
    }
}

.eiu-icn-instagram-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_instagram_kiev.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_instagram_london.svg);
    }
}

.eiu-icn-youtube-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_youtube_kiev.svg);
    background-position: 6px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_youtube_london.svg);
    }
}

.eiu-icn-linkedin-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_linkedin_kiev.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_linkedin_london.svg);
    }
}

.eiu-icn-mail-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_mail_kiev.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_mail_london.svg);
    }
}

.eiu-icn-print-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_print_kiev.svg);
    background-position: 7px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_print_london.svg);
    }
}

.eiu-icn-rssfeed-sec {
    @extend .eiu-icon-links;
    @extend .eiu-icon-links-sec;
    background-image: url(../images/icons/icn_rssfeed_kiev.svg);
    background-position: 9px 5px;

    &.eiu-icn-disabled {
        background-image: url(../images/icons/icn_rssfeed_london.svg);
    }
}
/* Icon links - END */