<a class='btn btn-primary' href="#" title="primary button">Primary</a>
<a class='btn btn-primary btn-slim' href="#" title="primary button">Slim</a>
<a class='btn  btn-primary btn-fluid' href="#">Fluid</a>
<br />
<a class='btn btn-secondary' href="#" title="primary button">Secondary</a>
<a class='btn btn-secondary btn-slim' href="#" title="primary button">Slim</a>
<a class='btn  btn-secondary btn-fluid' href="#">Fluid</a>
<br />
<a class='btn btn btn-disabled' href="#">Disabled</a>
<br />
<a class='btn btn-primary btn-ripple' href="#" title="primary button">Primary (with ripple effect)</a>
<a class='btn btn-secondary btn-ripple' href="#" title="primary button">Secondary (with ripple effect)</a>