<a class='btn btn btn-disabled' href="#">Disabled</a>
<a class='btn btn-rounded btn-md btn-primary' href="#">Rounded Button</a>
<a class='btn btn-pill btn-md btn-primary' href="#">Pill Button</a>
<a class='btn btn-primary btn-icon' href="#"></a>