<a class='btn btn-primary' href="#" title="primary button">Primary button</a>
<a class='btn  btn-primary btn-fluid' href="#">Fluid Button</a>
<!-- <a class='btn  btn-primary btn-icon' href="#"></a> -->
<a class='btn btn-secondary' href="#" title="primary button">Primary button</a>
<a class='btn  btn-secondary btn-fluid' href="#">Fluid Button</a>