<ul class="demo-component-wrapper">
    {{#each list.AllArticles}}
    <li>
        <h4 class="type-epsilon">{{HeadlineText}}</h1>
            <p class="type-zeta-econ-regular">{{ArticleURL}}</p>
    </li>
    {{/each}}
</ul>