<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/dl.css' }}">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    p {
        font-family: EconSansOS;
        font-style: normal;
        font-weight: 400;
    }
    </style>
</head>

<body>
    <div class="demo-component-wrapper">
        {{{ yield }}}
    </div>
    <script src="{{ path '/js/dl.js' }}"></script>
    <script src="{{ path '/js/custom-views.js' }}"></script>
</body>

</html>