<style>
table {
    width: 100%;
    font-family: "EconSans Light LF";
}

th {
    font-family: "EconSans Bold LF";
}

td,
th {
    padding: 10px 0;
    text-align: left;
}

sup {
    vertical-align: super;
}
</style>
<table>
    <caption>China: Country forecast summary</caption>
    <thead>
        <tr>
            <th scope="col">Key indicators</th>
            <th scope="col">2018</th>
            <th scope="col">2019</th>
            <th scope="col">2020</th>
            <th scope="col">2021</th>
            <th scope="col">2022</th>
            <th scope="col">2023</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Real GDP growth (%)</th>
            <td>6.6</td>
            <td>6.3</td>
            <td>6.1</td>
            <td>5.6</td>
            <td>5.2</td>
            <td>5.0</td>
        </tr>
        <tr>
            <th scope="row">Consumer price inflation (%; av)</th>
            <td>1.9</td>
            <td>2.9</td>
            <td>3.1</td>
            <td>2.7</td>
            <td>2.9</td>
            <td>2.7</td>
        </tr>
        <tr>
            <th scope="row">Budget balance (% of GDP)</th>
            <td>-4.2</td>
            <td>-4.5</td>
            <td>-4.5</td>
            <td>-4.3</td>
            <td>-4.1</td>
            <td>-4.0</td>
        </tr>
        <tr>
            <th scope="row">Current-account balance (% of GDP)</th>
            <td>0.4</td>
            <td>0.2</td>
            <td>-0.3</td>
            <td>-0.3</td>
            <td>-0.4</td>
            <td>-0.4</td>
        </tr>
        <tr>
            <th scope="row">Commercial bank prime rate (%; year-end)</th>
            <td>4.4</td>
            <td>4.4</td>
            <td>4.4</td>
            <td>4.6</td>
            <td>4.9</td>
            <td>4.9</td>
        </tr>
        <tr>
            <th scope="row">Exchange rate Rmb:US$ (av)</th>
            <td>6.62</td>
            <td>6.86</td>
            <td>6.90</td>
            <td>6.94</td>
            <td>7.16</td>
            <td>7.03</td>
        </tr>
        <tr>
            <th scope="row">Exchange rate Rmb:¥100 (av)</th>
            <td>5.99</td>
            <td>6.23</td>
            <td>6.35</td>
            <td>6.62</td>
            <td>7.13</td>
            <td>7.32</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <a target="_blank" href="#">Download the numbers in Excel</a>
            </td>
        </tr>
    </tfoot>
</table>
<table>
    <caption>Gross domestic product, at current market prices</caption>
    <thead>
        <tr>
            <th></th>
            <th>2014<num><sup>a</sup></num>
            </th>
            <th>2015<num><sup>a</sup></num>
            </th>
            <th>2016<num><sup>a</sup></num>
            </th>
            <th>2017<num><sup>a</sup></num>
            </th>
            <th>2018<num><sup>b</sup></num>
            </th>
            <th>2019<num><sup>c</sup></num>
            </th>
            <th>2020<num><sup>c</sup></num>
            </th>
            <th>2021<num><sup>c</sup></num>
            </th>
            <th>2022<num><sup>c</sup></num>
            </th>
            <th>2023<num><sup>c</sup></num>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="11">Expenditure on GDP (Rmb bn at current market
                prices)</th>
        </tr>
        <tr>
            <th>GDP<num><sup>d</sup></num>
            </th>
            <td>64,718</td>
            <td>69,911</td>
            <td>74,563</td>
            <td>81,526</td>
            <td>89,372</td>
            <td>96,599</td>
            <td>104,104</td>
            <td>111,715</td>
            <td>119,612</td>
            <td>127,532</td>
        </tr>
        <tr>
            <th>Private consumption</th>
            <td>24,254</td>
            <td>26,598</td>
            <td>29,344</td>
            <td>31,796</td>
            <td>35,004</td>
            <td>38,049</td>
            <td>41,359</td>
            <td>44,834</td>
            <td>48,420</td>
            <td>52,294</td>
        </tr>
        <tr>
            <th>Government consumption</th>
            <td>8,577</td>
            <td>9,629</td>
            <td>10,647</td>
            <td>11,919</td>
            <td>13,666</td>
            <td>15,699</td>
            <td>17,571</td>
            <td>19,764</td>
            <td>22,072</td>
            <td>24,134</td>
        </tr>
        <tr>
            <th>Gross fixed investment</th>
            <td>29,005</td>
            <td>30,150</td>
            <td>31,808</td>
            <td>34,937</td>
            <td>39,650</td>
            <td>41,847</td>
            <td>44,041</td>
            <td>46,173</td>
            <td>48,269</td>
            <td>50,214</td>
        </tr>
        <tr>
            <th>Exports of goods &amp;
                services<num><sup>e</sup></num>
            </th>
            <td>15,386</td>
            <td>14,870</td>
            <td>14,563</td>
            <td>16,368</td>
            <td>17,610</td>
            <td>18,761</td>
            <td>19,886</td>
            <td>21,177</td>
            <td>23,615</td>
            <td>25,146</td>
        </tr>
        <tr>
            <th>Imports of goods &amp;
                services<num><sup>e</sup></num>
            </th>
            <td>13,771</td>
            <td>12,469</td>
            <td>12,905</td>
            <td>14,952</td>
            <td>16,858</td>
            <td>17,958</td>
            <td>19,054</td>
            <td>20,532</td>
            <td>23,065</td>
            <td>24,557</td>
        </tr>
        <tr>
            <th>Stockbuilding</th>
            <td>1,266.4</td>
            <td>1,133.3</td>
            <td>1,105.4</td>
            <td>1,458.6</td>
            <td>300.0</td>
            <td>200.0</td>
            <td>300.0</td>
            <td>300.0</td>
            <td>300.0</td>
            <td>300.0</td>
        </tr>
        <tr>
            <th>Domestic demand</th>
            <td>63,103</td>
            <td>67,510</td>
            <td>72,905</td>
            <td>80,111</td>
            <td>88,620</td>
            <td>95,796</td>
            <td>103,272</td>
            <td>111,071</td>
            <td>119,061</td>
            <td>126,943</td>
        </tr>
        <tr>
            <th colspan="11">Expenditure on GDP (US$ bn at current market
                prices)</th>
        </tr>
        <tr>
            <th>GDP<num><sup>d</sup></num>
            </th>
            <td>10,535</td>
            <td>11,226</td>
            <td>11,222</td>
            <td>12,062</td>
            <td>13,508</td>
            <td>14,084</td>
            <td>15,082</td>
            <td>16,097</td>
            <td>16,706</td>
            <td>18,141</td>
        </tr>
        <tr>
            <th>Private consumption</th>
            <td>3,948</td>
            <td>4,271</td>
            <td>4,416</td>
            <td>4,704</td>
            <td>5,291</td>
            <td>5,547</td>
            <td>5,992</td>
            <td>6,460</td>
            <td>6,763</td>
            <td>7,439</td>
        </tr>
        <tr>
            <th>Government consumption</th>
            <td>1,396</td>
            <td>1,546</td>
            <td>1,602</td>
            <td>1,763</td>
            <td>2,066</td>
            <td>2,289</td>
            <td>2,546</td>
            <td>2,848</td>
            <td>3,083</td>
            <td>3,433</td>
        </tr>
        <tr>
            <th>Gross fixed investment</th>
            <td>4,721</td>
            <td>4,841</td>
            <td>4,787</td>
            <td>5,169</td>
            <td>5,993</td>
            <td>6,101</td>
            <td>6,380</td>
            <td>6,653</td>
            <td>6,741</td>
            <td>7,143</td>
        </tr>
        <tr>
            <th>Exports of goods &amp; services</th>
            <td>2,505</td>
            <td>2,388</td>
            <td>2,192</td>
            <td>2,422</td>
            <td>2,662</td>
            <td>2,735</td>
            <td>2,881</td>
            <td>3,051</td>
            <td>3,298</td>
            <td>3,577</td>
        </tr>
        <tr>
            <th>Imports of goods &amp; services</th>
            <td>2,242</td>
            <td>2,002</td>
            <td>1,942</td>
            <td>2,212</td>
            <td>2,548</td>
            <td>2,618</td>
            <td>2,760</td>
            <td>2,959</td>
            <td>3,221</td>
            <td>3,493</td>
        </tr>
        <tr>
            <th>Stockbuilding</th>
            <td>206</td>
            <td>182</td>
            <td>166</td>
            <td>216</td>
            <td>45</td>
            <td>29</td>
            <td>43</td>
            <td>43</td>
            <td>42</td>
            <td>43</td>
        </tr>
        <tr>
            <th>Domestic demand</th>
            <td>10,272</td>
            <td>10,841</td>
            <td>10,972</td>
            <td>11,853</td>
            <td>13,395</td>
            <td>13,967</td>
            <td>14,962</td>
            <td>16,004</td>
            <td>16,629</td>
            <td>18,057</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <a target="_blank" href="#">Download the numbers in Excel</a>
            </td>
        </tr>
    </tfoot>
</table>