/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**a:focus {
    outline: thin dotted;
} */
/**
 * Improve readability when focused and also mouse hovered in all browsers.


a:active,
a:hover {
    outline: 0;
}
 */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: 'EconSans Light';
  src: url("../fonts/EOT/econsans-lt-os.eot") format("eot"), url("../fonts/WOFF/econsans-lt-os.woff") format("woff"), url("../fonts/TTF/econsans-lt-os.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Regular';
  src: url("../fonts/EOT/econsans-rg-os.eot") format("eot"), url("../fonts/WOFF/econsans-rg-os.woff") format("woff"), url("../fonts/TTF/econsans-rg-os.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Medium';
  src: url("../fonts/EOT/econsans-md-os.eot") format("eot"), url("../fonts/WOFF/econsans-md-os.woff") format("woff"), url("../fonts/TTF/econsans-md-os.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Bold';
  src: url("../fonts/EOT/econsans-bd-os.eot") format("eot"), url("../fonts/WOFF/econsans-bd-os.woff") format("woff"), url("../fonts/TTF/econsans-bd-os.ttf") format("truetype"); }

@font-face {
  font-family: 'Milo Regular';
  src: url("../fonts/EOT/milo-rg.eot") format("eot"), url("../fonts/WOFF/milo-rg.woff") format("woff"), url("../fonts/TTF/milo-rg.ttf") format("truetype"); }

@font-face {
  font-family: 'Milo Bold';
  src: url("../fonts/EOT/milo-bd.eot") format("eot"), url("../fonts/WOFF/milo-bd.woff") format("woff"), url("../fonts/TTF/milo-bd.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Light LF';
  src: url("../fonts/TTF/ecosalig-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Regular LF';
  src: url("../fonts/TTF/ecosareg-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Medium LF';
  src: url("../fonts/TTF/ecosamed-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'EconSans Bold LF';
  src: url("../fonts/TTF/ecosabol-webfont.ttf") format("truetype"); }

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: 'EconSans Regular';
  color: #121212; }

.type-tera {
  font-family: 'EconSans Light';
  font-size: 112px;
  line-height: 140px; }
  .type-tera.type-lf {
    font-family: 'EconSans Light LF'; }

.type-giga {
  font-family: 'EconSans Light';
  font-size: 86px;
  line-height: 108px; }
  .type-giga.type-lf {
    font-family: 'EconSans Light LF'; }

.type-mega {
  font-family: 'EconSans Light';
  font-size: 67px;
  line-height: 84px; }
  .type-mega.type-lf {
    font-family: 'EconSans Light LF'; }

.type-alpha {
  font-family: 'EconSans Regular';
  font-size: 51px;
  line-height: 64px; }
  .type-alpha.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-beta {
  font-family: 'EconSans Regular';
  font-size: 45px;
  line-height: 56px; }
  .type-beta.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-gamma {
  font-family: 'EconSans Medium';
  font-size: 35px;
  line-height: 44px; }
  .type-gamma.type-lf {
    font-family: 'EconSans Medium LF'; }

.type-delta {
  font-family: 'EconSans Medium';
  font-size: 29px;
  line-height: 36px; }
  .type-delta.type-lf {
    font-family: 'EconSans Medium LF'; }

.type-epsilon {
  font-family: 'EconSans Bold';
  font-size: 24px;
  line-height: 36px; }
  .type-epsilon.type-lf {
    font-family: 'EconSans Bold LF'; }

.type-zeta-econ-regular {
  font-family: 'EconSans Regular';
  font-size: 21px;
  line-height: 32px; }
  .type-zeta-econ-regular.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-zeta-econ-bold {
  font-family: 'EconSans Bold';
  font-size: 21px;
  line-height: 32px; }
  .type-zeta-econ-bold.type-lf {
    font-family: 'EconSans Bold LF'; }

.type-zeta-milo-regular {
  font-family: 'Milo Regular';
  font-size: 21px;
  line-height: 32px; }

.type-zeta-milo-bold {
  font-family: 'Milo Bold';
  font-size: 21px;
  line-height: 32px; }

.type-eta-econ-regular {
  font-family: 'EconSans Regular';
  font-size: 18px;
  line-height: 28px; }
  .type-eta-econ-regular.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-eta-econ-bold {
  font-family: 'EconSans Bold';
  font-size: 18px;
  line-height: 28px; }
  .type-eta-econ-bold.type-lf {
    font-family: 'EconSans Bold LF'; }

.type-eta-milo-regular {
  font-family: 'Milo Regular';
  font-size: 18px;
  line-height: 28px; }

.type-eta-milo-bold {
  font-family: 'Milo Bold';
  font-size: 18px;
  line-height: 28px; }

.type-theta-econ-regular, .font-wrapper p {
  font-family: 'EconSans Regular';
  font-size: 16px;
  line-height: 24px; }
  .type-theta-econ-regular.type-lf, .font-wrapper p.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-theta-econ-bold, label {
  font-family: 'EconSans Bold';
  font-size: 16px;
  line-height: 24px; }
  .type-theta-econ-bold.type-lf, label.type-lf {
    font-family: 'EconSans Bold LF'; }

.type-theta-milo-regular {
  font-family: 'Milo Regular';
  font-size: 16px;
  line-height: 24px; }

.type-theta-milo-bold {
  font-family: 'Milo Bold';
  font-size: 16px;
  line-height: 24px; }

.type-iota-econ-regular {
  font-family: 'EconSans Regular';
  font-size: 13px;
  line-height: 20px; }
  .type-iota-econ-regular.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-iota-econ-bold, a.js-btn,
button.js-btn {
  font-family: 'EconSans Bold';
  font-size: 13px;
  line-height: 20px; }
  .type-iota-econ-bold.type-lf, a.type-lf.js-btn,
  button.type-lf.js-btn {
    font-family: 'EconSans Bold LF'; }

.type-iota-milo-regular {
  font-family: 'Milo Regular';
  font-size: 13px;
  line-height: 20px; }

.type-iota-milo-bold {
  font-family: 'Milo Bold';
  font-size: 13px;
  line-height: 20px; }

.type-caption {
  font-family: 'EconSans Regular';
  font-size: 13px;
  line-height: 20px;
  font-weight: 300; }
  .type-caption.type-lf {
    font-family: 'EconSans Regular LF'; }

.type-overline {
  font-family: 'EconSans Bold';
  font-size: 13px;
  line-height: 20px;
  color: red;
  text-transform: uppercase; }
  .type-overline.type-lf {
    font-family: 'EconSans Bold LF'; }

/* mobile first grids: 4 column layout by default -xs */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.flex-grid {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-flow: row wrap; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  margin: 5px 0.8%; }

.color-view {
  background-color: #9d9d9d;
  height: 100px; }

.col-xs-1 {
  width: 23.4%; }

.col-xs-2 {
  width: 48.4%; }

.col-xs-3 {
  width: 73.4%; }

.col-xs-4 {
  width: 98.4%; }

/* 6 column layout -sm */
@media only screen and (min-width: 540px) and (max-width: 991px) {
  .col-sm-1 {
    width: 15.066%; }
  .col-sm-2 {
    width: 31.732%; }
  .col-sm-3 {
    width: 48.398%; }
  .col-sm-4 {
    width: 65.064%; }
  .col-sm-5 {
    width: 81.73%; }
  .col-sm-6 {
    width: 98.396%; } }

/* 8 column layout -md */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .col-md-1 {
    width: 10.9%; }
  .col-md-2 {
    width: 23.4%; }
  .col-md-3 {
    width: 35.9%; }
  .col-md-4 {
    width: 48.4%; }
  .col-md-5 {
    width: 60.9%; }
  .col-md-6 {
    width: 73.4%; }
  .col-md-7 {
    width: 85.9%; }
  .col-md-8 {
    width: 98.4%; } }

/* 12 column layout - lg */
@media only screen and (min-width: 1024px) {
  .flex-grid {
    max-width: 1440px; }
  .col-lg-1 {
    width: 6.73%; }
  .col-lg-2 {
    width: 15.06%; }
  .col-lg-3 {
    width: 23.39%; }
  .col-lg-4 {
    width: 31.72%; }
  .col-lg-5 {
    width: 40.05%; }
  .col-lg-6 {
    width: 48.38%; }
  .col-lg-7 {
    width: 56.71%; }
  .col-lg-8 {
    width: 65.04%; }
  .col-lg-9 {
    width: 73.37%; }
  .col-lg-10 {
    width: 74.97%; }
  .col-lg-11 {
    width: 90.03%; }
  .col-lg-12 {
    width: 98.36%; } }

.elevate-0, a.js-btn.btn-disabled,
button.js-btn.btn-disabled {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12); }

.elevate-1, .elem-card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.elevate-2, a.js-btn.btn-primary,
button.js-btn.btn-primary, a.js-btn.btn-secondary,
button.js-btn.btn-secondary {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }

.elevate-3 {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2); }

.elevate-4, a.js-btn.btn-primary:hover, a.js-btn.btn-primary:focus,
button.js-btn.btn-primary:hover,
button.js-btn.btn-primary:focus, a.js-btn.btn-secondary:hover, a.js-btn.btn-secondary:focus,
button.js-btn.btn-secondary:hover,
button.js-btn.btn-secondary:focus, .font-wrapper {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.elevate-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12); }

.elevate-8, a.js-btn.btn-primary:active,
button.js-btn.btn-primary:active, a.js-btn.btn-secondary:active,
button.js-btn.btn-secondary:active {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.elevate-9 {
  box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12), 0 5px 6px -3px rgba(0, 0, 0, 0.2); }

.elevate-10 {
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2), 0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12); }

.elevate-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12); }

.elevate-16 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

.elevate-24 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2); }

a.js-btn,
button.js-btn {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  color: #FFFFFF; }
  a.js-btn.btn-sm,
  button.js-btn.btn-sm {
    padding: 8px 16px; }
  a.js-btn.btn-md,
  button.js-btn.btn-md {
    padding: 16px 48px; }
  a.js-btn.btn-lg,
  button.js-btn.btn-lg {
    padding: 24px 64px; }
  a.js-btn.btn-primary,
  button.js-btn.btn-primary {
    background-color: #3E51B5;
    color: #FFFFFF;
    border-radius: 4px; }
    a.js-btn.btn-primary:hover, a.js-btn.btn-primary:focus,
    button.js-btn.btn-primary:hover,
    button.js-btn.btn-primary:focus {
      background-color: #4C60EB; }
    a.js-btn.btn-primary:active,
    button.js-btn.btn-primary:active {
      background-color: #6075EA; }
  a.js-btn.btn-secondary,
  button.js-btn.btn-secondary {
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #3E51B5;
    color: #3E51B5; }
    a.js-btn.btn-secondary:hover, a.js-btn.btn-secondary:focus,
    button.js-btn.btn-secondary:hover,
    button.js-btn.btn-secondary:focus {
      border: 1px solid #4C60EB;
      color: #4C60EB; }
    a.js-btn.btn-secondary:active,
    button.js-btn.btn-secondary:active {
      border: 1px solid #002984;
      color: #002984; }
  a.js-btn.btn-pill,
  button.js-btn.btn-pill {
    border-radius: 22px; }
  a.js-btn.btn-circle,
  button.js-btn.btn-circle {
    padding: 25px;
    border-radius: 50%; }
  a.js-btn.btn-fluid,
  button.js-btn.btn-fluid {
    display: block; }
  a.js-btn.btn-disabled,
  button.js-btn.btn-disabled {
    background-color: #CFCFCF;
    pointer-events: none; }

.ripple-primary {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1; }

.ripple-secondary {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(96, 117, 234, 0.2);
  transform: scale(0);
  position: absolute;
  opacity: 1; }

@keyframes rippleDrop {
  100% {
    transform: scale(3);
    opacity: 0; } }

.rippleEffect {
  animation: rippleDrop .3s linear; }

img {
  max-width: 100%; }

.elem-card {
  background: #FFFF; }
  .elem-card .elem-card-media img {
    width: 100%; }
  .elem-card .elem-card-content {
    padding: 24px 16px; }
    .elem-card .elem-card-content .elem-card-tags span {
      color: #666666;
      margin-right: 5px;
      display: inline-block;
      padding-right: 5px;
      position: relative; }
      .elem-card .elem-card-content .elem-card-tags span:last-child:after {
        display: none; }
      .elem-card .elem-card-content .elem-card-tags span:after {
        content: " ";
        height: 12px;
        width: 1px;
        background: #666666;
        position: absolute;
        right: -2px;
        top: 3px; }

/* Extra CSS to be removed*/
.color-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid #EEEEEE;
  padding: 10px;
  margin: 25px; }

.component-wrapper {
  padding: 20px; }

.font-wrapper {
  padding: 10px;
  border: 1px solid #121212;
  margin: 12px 0;
  margin-bottom: 25px; }

label {
  display: block; }

.elem-space {
  height: 20px;
  width: 100%; }
