<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path '/css/dl.css' }}">
    <title>Preview</title>
    <script>
    		<!-- TO ALLOW PREVIEW TO TAKE FULL HEIGHT -->
    		//localStorage.setItem("pen.previewHeight", window.outerHeight);
	</script>
</head>

<body>
    {{{ yield }}}
    <script src="{{ path '/js/dl.js' }}"></script>
</body>

</html>