#frame {
    .Header {
        background-color: #eee;
        color: #2d2d2d;

        svg {
            fill: #2d2d2d;
        }
    }

    .Header-title {
        padding-left: 160px;
        position: relative;
        @extend .type-epsilon;

        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 10px;
            background: url('../images/logos/eiu_logo_horizontal.svg');
            width: 150px;
            height: 40px;
            background-repeat: no-repeat;
        }

        @include bp-mobile {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }

    .Tree-title {
        @extend .type-zeta-econ-regular
    }

    .Frame-panel--sidebar {
        background-color: #eee;
    }

    .Browser {

        span,
        * {
            @extend .type-theta-econ-regular
        }
    }
}

.Meta-value a:hover span {
    text-decoration: none;
}