$base-font: 16px;

@function calculateRem($size) {
    $remSize: $size / $base-font;
    @return $remSize * 1rem;
}

@mixin font-size($size, $height) {
    font-size: $size;
    font-size: calculateRem($size);
    line-height: $height / $size;
}


@mixin bp-mobile {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin bp-mobile-potrait {
    @media only screen and (min-width: 320px) and (max-width: 539px) {
        @content;
    }
}

@mixin bp-mobile-landscape {
    @media only screen and (min-width: 540px) and (max-width: 767px) {
        @content;
    }
}

@mixin bp-tablet {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin bp-tablet-potrait {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin bp-tablet-landscape {
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
        @content;
    }
}

@mixin bp-desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin bp-desktop-lg {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}