$color-brand-primary		: 	#E3120B;
$color-accent-primary		:	#16C9B3;
$yellow 					:	#FFD700;

$color-ui-grey-1			:	#EFEFEF;
$color-ui-grey-2			:	#CFCFCF;
$color-ui-grey-3			:	#9D9D9D;
$color-ui-grey-4			:	#666666;
$color-ui-action			:	#3E51B5;
$color-ui-action-hover		:	#4C60EB;
$color-ui-action-focus		:	#6075EA;
$color-ui-white				:	#FFFFFF;
$color-ui-black				:	#000000;

$color-text-default			:	#121212;
	
$color-chart-cyan-0			:	#3EBCD2;
$color-chart-cyan-1			:	#6FE4FB;
$color-chart-cyan-2			:	#4EC8DE;
$color-chart-cyan-3			:	#25ADC2;
$color-chart-cyan-4			:	#0092A7;
$color-chart-cyan-5			:	#00788D;
$color-chart-cyan-6			:	#005F73;
	
$color-chart-green-0		:	#379a8b;
$color-chart-green-1		:	#86E5D4;
$color-chart-green-2		:	#69C9B9;
$color-chart-green-3		:	#4DAD9E;
$color-chart-green-4		:	#2E9284;
$color-chart-green-5		:	#00786B;
$color-chart-green-6		:	#005F52;
	
$color-chart-red-0			:	#db444b;
$color-chart-red-1			:	#FFA39F;
$color-chart-red-2			:	#FF8785;
$color-chart-red-3			:	#FF6B6C;
$color-chart-red-4			:	#E64E53;
$color-chart-red-5			:	#C7303C;
$color-chart-red-6			:	#A81829;
	
$color-chart-blue-0		:		006BA2;
$color-chart-blue-1			:	#98DAFF;
$color-chart-blue-2			:	#7BBFFC;
$color-chart-blue-3			:	#5DA4DF;
$color-chart-blue-4			:	#3D89C3;
$color-chart-blue-5			:	#1270A8;
$color-chart-blue-6			:	#00588D;
	
$color-chart-yellow-0		:	#EBB434;
$color-chart-yellow-1		:	#FFCB4D;
$color-chart-yellow-2		:	#E7B030;
$color-chart-yellow-3		:	#C89608;
$color-chart-yellow-4		:	#AA7C00;
$color-chart-yellow-5		:	#8D6300;
$color-chart-yellow-6		:	#714C00;
	
$color-chart-moss-0			:	#B4BA39;
$color-chart-moss-1			:	#D7DB5A;
$color-chart-moss-2			:	#BAC03F;
$color-chart-moss-3			:	#9DA521;
$color-chart-moss-4			:	#818A00;
$color-chart-moss-5			:	#667100;
$color-chart-moss-6			:	#4C5900;
	
$color-chart-purple-0		:	#9A607F;
$color-chart-purple-1		:	#FFC2E3;
$color-chart-purple-2		:	#E6A6C7;
$color-chart-purple-3		:	#C98CAC;
$color-chart-purple-4		:	#AD7291;
$color-chart-purple-5		:	#925977;
$color-chart-purple-6		:	#78405F;
	
$color-chart-gold-0			:	#D1B07C;
$color-chart-gold-1			:	#F2CF9A;
$color-chart-gold-2			:	#D5B480;
$color-chart-gold-3			:	#B99966;
$color-chart-gold-4			:	#9D7F4E;
$color-chart-gold-5			:	#8D6300;
$color-chart-gold-6			:	#714C00;
	
$color-chart-grey-0			:	#758D99;
$color-chart-grey-1			:	#BFD8E5;
$color-chart-grey-2			:	#A4BDC9;
$color-chart-grey-3			:	#89A2AE;
$color-chart-grey-4			:	#6F8793;
$color-chart-grey-5			:	#576E79;
$color-chart-grey-6			:	#3F5661;

// Font Variables

$font-size-tera				:	112px;
$font-size-giga				:	86px;
$font-size-mega				:	67px;
$font-size-alpha			:	51px;
$font-size-beta				:	45px;
$font-size-gamma			:	35px;
$font-size-delta			:	29px;
$font-size-epsilon			:	24px;
$font-size-zeta				:	21px;
$font-size-eta				:	18px;
$font-size-theta			:	16px;
$font-size-iota				:	13px;

$line-height-heading		:	1.25;
$line-height-text			:	1.5;



