<ul class="elem-breadcrumbs">
    <li>
        <a href='#' title='Home'>Home</a>
    </li>
    <li>
        <a href='#' title='Products &amp; services'>Products &amp; services</a>
    </li>
    <li>
        <a href='#' title='Country Analysis'>Country Analysis</a>
    </li>
    <li class="active">
        <a href='#' title='Country Report'>Country Report</a>
    </li>
</ul>

<ul class="elem-breadcrumbs elem-breadcrumbs-mobile">
    <li class="active">
        <a href='#' title='Home'>Home</a>
    </li>
</ul>



