@import "./reset";
@import "./components/foundation elements/typography/typography";
@import "./components/foundation elements/grid/grid";
@import "./components/foundation elements/button/button";
@import "./components/foundation elements/palette/palette";
@import "./components/foundation elements/elevation levels/elevation levels";
@import "./components/foundation elements/cards/cards";
@import "./components/foundation elements/imagery/imagery";


/* Extra CSS to be removed*/

.component-wrapper {
    padding: 20px;
}

.font-wrapper {
    padding: 10px;
    border: 1px solid #121212;
    margin: 12px 0;
    @extend .elevate-4;
    p {
        @extend .type-theta-econ-regular
    }

}

label{
    display:block;
    @extend .type-theta-econ-bold;
}

p{
    margin-bottom: 10px;
}