<div class="bg-brand-red">
    <span>$color-brand-economist-red</span>
    <span>#E3120B</span>
</div>
<div class="bg-bejing">
    <span>$color-brand-bejing</span>
    <span>#121212</span>
</div>
<div class="bg-thimpu">
    <span>$color-brand-thimpu</span>
    <span>#FFFFFF</span>
</div>
<div class="bg-sec-kiev">
    <span>$color-brand-sec-kiev</span>
    <span>#383E42</span>
</div>
<div class="bg-sec-moscow">
    <span>$color-brand-sec-moscow</span>
    <span>#595959</span>
</div>
<div class="bg-sec-london">
    <span>$color-brand-sec-london</span>
    <span>#B6B6B6</span>
</div>
<div class="bg-sec-cardiff">
    <span>$color-brand-sec-cardiff</span>
    <span>#D7D7D7</span>
</div>
<div class="bg-sec-berlin">
    <span>$color-brand-sec-berlin</span>
    <span>#F2F2F2</span>
</div>
<div class="bg-sec-chicago">
    <span>$color-brand-sec-chicago</span>
    <span>#3C4FAF</span>
</div>
<div class="bg-sec-athens">
    <span>$color-brand-sec-athens</span>
    <span>#142680</span>
</div>
<div class="bg-sec-melbourne">
    <span>$color-brand-sec-melbourne</span>
    <span>#FDDC21</span>
</div>
<div class="bg-sec-honolulu">
    <span>$color-brand-sec-honolulu</span>
    <span>#19D2B9</span>
</div>
<div class="bg-sec-miami">
    <span>$color-brand-sec-miami</span>
    <span>#D21982</span>
</div>
<div class="bg-ext-amsterdam">
    <span>$color-ext-amsterdam</span>
    <span>#E75A36</span>
</div>
<div class="bg-ext-nairobi">
    <span>$color-ext-nairobi</span>
    <span>#0A1757</span>
</div>
<div class="bg-ext-tokyo">
    <span>$color-ext-tokyo</span>
    <span>#E7365E</span>
</div>
<div class="bg-ext-cairo">
    <span>$color-ext-cairo</span>
    <span>#EBE9E0</span>
</div>
<div class="bg-ext-delhi">
    <span>$color-ext-delhi</span>
    <span>#E0EBEB</span>
</div>