<div class="component-wrapper">
	<div class="border"></div>
	<p class="type-overline">palette</p>
	{{#each categories}}
		<h2 class="type-zeta-econ-bold">{{catName}}</h2>
		{{#if colors}}
			{{#each colors}}
				<h3 class="type-eta-econ-bold">{{this}}</h3>
				<div class="color-box {{this}}"></div>
			{{/each}}
		{{/if}}
	{{/each}}
</div>