<div class="eiu-dropdown">
    <select>
        <option value="1">Latest</option>
        <option value="2">Oldest</option>
    </select>
</div>
<div class="eiu-dropdown">
    <select>
        <option value="" data-placeholder>Sort By:</option>
        <option value="1">Latest</option>
        <option value="2">Oldest</option>
    </select>
</div>
<div class="eiu-dropdown">
    <select disabled>
        <option value="1">Latest</option>
        <option value="2">Oldest</option>
    </select>
</div>