<p class="eiu-type-size-zeta eiu-type-style-regular"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-regular-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-medium"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-medium-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-light"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-light-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-bold"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-bold-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>