.card {
    background: $color-brand-thimpu;
    padding: 24px 32px;
    @extend .elevate-1;
    margin-bottom: $spacing-x-sm;

    .card-tags {
        margin-top: $spacing-x-sm;
        margin-bottom: $spacing-x-sm;

        span {
            display: inline-block;
            padding: 0 $spacing-x-sm;
            position: relative;

            &:after {
                content: "|";
                position: absolute;
                width: 1px;
                right: 0;
            }


            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    &.card-inverse {
        background: $color-brand-sec-kiev;
        color: $color-brand-thimpu;

        p {
            margin: $spacing-sm 0;
        }
    }





}