.eiu-bg {
    &-brand-red {
        background: $color-brand-economist-red;
    }

    &-bejing {
        background-color: $color-brand-bejing;
    }

    &-thimpu {
        background-color: $color-brand-thimpu;
    }

    &-sec-kiev {
        background-color: $color-brand-sec-kiev;
    }

    &-sec-moscow {
        background-color: $color-brand-sec-moscow;
    }

    &-sec-london {
        background-color: $color-brand-sec-london;
    }

    &-sec-cardiff {
        background-color: $color-brand-sec-cardiff;
    }

    &-sec-berlin {
        background-color: $color-brand-sec-berlin;
    }

    &-sec-chicago {
        background-color: $color-brand-sec-chicago;
    }

    &-sec-athens {
        background-color: $color-brand-sec-athens;
    }

    &-sec-melbourne {
        background-color: $color-brand-sec-melbourne;
    }

    &-sec-honolulu {
        background-color: $color-brand-sec-honolulu;
    }

    &-sec-miami {
        background-color: $color-brand-sec-miami;
    }

    &-ext-amsterdam {
        background-color: $color-ext-amsterdam;
    }

    &-ext-nairobi {
        background-color: $color-ext-nairobi;
    }

    &-ext-tokyo {
        background-color: $color-ext-tokyo;
    }

    &-ext-cairo {
        background-color: $color-ext-cairo;
    }

    &-ext-delhi {
        background-color: $color-ext-delhi;
    }


}