

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Preview</title>
    <script>
    		<!-- TO ALLOW PREVIEW TO TAKE FULL HEIGHT -->
    		localStorage.setItem("pen.previewHeight", window.outerHeight);
	</script>
</head>

<body>
    <div class="component-wrapper">
    <h2 class="type-zeta-econ-bold">Basic Usage</h2>
    <div class="flex-grid">
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Primary</h3>
            <p>js-btn btn-md btn-primary</p>
            <a class='js-btn btn-md btn-primary' href="#">Primary</a>
        </div>
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Secondary</h3>
            <p>js-btn btn-md btn-secondary</p>
            <a class='js-btn btn-md btn-secondary' href="#">Secondary</a>
        </div>
    </div>
    <h2 class="type-zeta-econ-bold">Sizes</h2>
    <div class="flex-grid">
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Small</h3>
            <p>js-btn btn-primary btn-sm</p>
            <a class='js-btn btn-primary btn-sm' href="#">Small</a>
        </div>
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Medium</h3>
            <p>js-btn btn-primary btn-md</p>
            <a class='js-btn btn-primary btn-md' href="#">Medium</a>
        </div>
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Large</h3>
            <p>js-btn btn-primary btn-lg</p>
            <a class='js-btn btn-primary btn-lg' href="#">Large</a>
        </div>
    </div>
    <h2 class="type-zeta-econ-bold">Shapes</h2>
    <div class="flex-grid">
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Rounded Button</h3>
            <p>js-btn btn-rounded btn-md btn-primary</p>
            <a class='js-btn btn-rounded btn-md btn-primary' href="#">Rounded Button</a>
        </div>
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Pill Button</h3>
            <p>js-btn btn-pill btn-md btn-primary</p>
            <a class='js-btn btn-pill btn-md btn-primary' href="#">Pill Button</a>
        </div>
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Circle</h3>
            <p>js-btn btn-circle btn-primary</p>
            <a class='js-btn btn-circle btn-primary' href="#"></a>
        </div>
    </div>
    <h2 class="type-zeta-econ-bold">Fluid Button</h2>
    <div class="flex-grid">
        <div class="col-xs-4 col-lg-4">
            <p>js-btn btn-fluid btn-md btn-secondary</p>
            <a class='js-btn btn-fluid btn-md btn-secondary' href="#">Fluid Button</a>
        </div>
    </div>
    <h2 class="type-zeta-econ-bold">States</h2>
    <div class="flex-grid">
        <div class="col-xs-4 col-lg-4">
            <h3 class="type-eta-econ-bold">Disabled</h3>
            <p>js-btn btn-disabled btn-md</p>
            <a class='js-btn btn-disabled btn-md' href="#">Disabled</a>
        </div>
    </div>
</div>
    <script src="../../js/dl.js"></script>
</body>

</html>
