

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
</head>

<body>
    <div class="component-wrapper">
        <div class="flex-grid">
    <div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
        <div class="elem-card">
            <div class="elem-card-content">
                <div class="elem-card-tags">
                    <span class="type-caption">Global </span>
                    <span class="type-caption">Analysis </span>
                    <span class="type-caption">Politics </span>
                    <span class="type-caption">International relations</span>
                </div>
                <h3 class="type-zeta-econ-bold">Card Title</h3>
                <div class="elem-card-tags">
                    <span class="type-caption"> February 13th 2019</span>
                </div>
                <p class="type-theta-milo-regular">The prime minister still wants to get her Brexit deal approved, and warned MPs against opting for a second vote.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
        <div class="elem-card">
            <div class="elem-card-media">
            	<img src=../../images/placeholders/placeholder-3x2.png alt="image placeholder ">
            </div>
            <div class="elem-card-content">
                <div class="elem-card-tags">
                    <span class="type-caption">Global </span>
                    <span class="type-caption">Analysis </span>
                    <span class="type-caption">Politics </span>
                    <span class="type-caption">International relations</span>
                </div>
                <h3 class="type-zeta-econ-bold">Card Title</h3>
                <div class="elem-card-tags">
                    <span class="type-caption"> February 13th 2019</span>
                </div>
                <p class="type-theta-milo-regular">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
            </div>
        </div>
    </div>
</div>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
