

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <div class="flex-grid">
            <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                <!-- Blank eiu-Card -->
<div class="eiu-card">
    <div class="eiu-card-content">
    </div>
</div>
<!-- Standard Content eiu-Card -->
<div class="eiu-card">
    <div class="eiu-card-content">
        <h6 class="eiu-type-size-overline">article</h6>
        <div class="eiu-card-tags">
            <span class="eiu-type-size-iota">Topic</span>
            <span class="eiu-type-size-iota">Politics</span>
            <span class="eiu-type-size-iota">Columbia</span>
        </div>
        <h3 class="eiu-card-head eiu-type-size-zeta eiu-type-style-bold">Article Title</h3>
    </div>
</div>
<!-- eiu-Card with Image -->
<div class="eiu-card">
    <div class="eiu-card-media">
        <img src=../../images/placeholders/placeholder-16x9.png alt="image placeholder ">
    </div>
    <div class="eiu-card-content">
        <h6 class="eiu-type-size-overline">article</h6>
        <div class="eiu-card-tags">
            <span class="eiu-type-size-iota">Topic</span>
            <span class="eiu-type-size-iota">Politics</span>
            <span class="eiu-type-size-iota">Columbia</span>
        </div>
        <h3 class="eiu-card-head eiu-type-size-zeta eiu-type-style-bold">Article Title</h3>
    </div>
</div>
<!-- Article eiu-Card-->
<div class="eiu-card">
    <div class="eiu-card-media">
        <img src=../../images/placeholders/placeholder-16x9.png alt="image placeholder ">
    </div>
    <div class="eiu-card-content">
        <h3 class="eiu-card-head eiu-type-size-zeta eiu-type-style-bold">Article Title</h3>
        <p class="eiu-type-size-theta eiu-type-style-regular"">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
    </div>
</div>
<!-- Inverse eiu-Card -->
<div class=" eiu-card eiu-card-inverse">
    <div class="eiu-card-content">
        <h3 class="eiu-card-head eiu-type-size-zeta eiu-type-style-bold">Article Title</h3>
        <p class="eiu-type-size-theta eiu-type-style-regular">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
    </div>
</div>
            </div>
        </div>
    </div>
</body>

</html>
