

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        
<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden" id="cbDefault" type="checkbox">
    <label for="cbDefault">Default</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-focus" id="cbFocus" type="checkbox">
    <label for="cbFocus">Focused</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-disabled" id="cbDisabled" type="checkbox" disabled>
    <label for="cbDisabled">Disabled</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden" id="cbChecked" type="checkbox" checked>
    <label for="cbChecked">Checked</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-focus" id="cbCheckedFocus" type="checkbox" checked>
    <label for="cbCheckedFocus">Checked-focus</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-blue" id="cbChecked2" type="checkbox" checked>
    <label for="cbChecked2">Checked-type2</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-blue eiu-cb-focus" id="cbChecked2Focus" type="checkbox" checked>
    <label for="cbChecked2Focus">Checked-type2-focus</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-checked" id="cbCheckedDisabled" type="checkbox" disabled>
    <label for="cbCheckedDisabled">Disabled-checked</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-indeterminate" id="cbIndeterminate" type="checkbox">
    <label for="cbIndeterminate">Indeterminate</label>
</div>

<div class="eiu-checkbox">
    <input class="eiu-visuallyHidden eiu-cb-indeterminate eiu-cb-focus" id="cbIndeterminate" type="checkbox">
    <label for="cbIndeterminate">Indeterminate-focus</label>
</div>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
