

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    p {
        font-family: EconSansOS;
        font-style: normal;
        font-weight: 400;
    }
    </style>
</head>

<body>
    <div class="demo-component-wrapper">
        <p class="eiu-type-size-alpha">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-beta">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-gamma">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-delta">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-epsilon">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-zeta">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-eta">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-theta">The quick brown fox jumps over the lazy dog</p>
<p class="eiu-type-size-iota">The quick brown fox jumps over the lazy dog</p>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
