

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <label for="typeFontSelector" class="demo-label">Select a font to view style</label>
        <select class="fontFamilySelector" id="fontFamilySelector" style="margin-bottom: 20px">
            <option value="EconSansOS">Econ Sans OS (primary)</option>
            <option value="EconSans">Econ Sans (secondary)</option>
            <option value="EconSansCndPrimary">Econ Sans Condensed OS (primary)</option>
            <option value="EconSansCndSecondary">Econ Sans Condensed (secondary)</option>
            <option value="EconSansLining">Econ Sans Lining</option>
            <option value="MiloTEOS"> Milo TE OS (primary)</option>
            <option value="MiloTE">Milo TE (secondary)</option>
            <option value="MiloSMCP">Milo smallcaps</option>
        </select>
        <div class="font-variations">
            <p class="eiu-type-size-zeta eiu-type-style-regular"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-regular-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-medium"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-medium-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-light"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-light-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-bold"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
<p class="eiu-type-size-zeta eiu-type-style-bold-italic"> The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9 </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
