

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <p class="eiu-type-size-alpha">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-beta">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-gamma">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-delta">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-epsilon">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-zeta">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-eta">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-theta">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
<p class="eiu-type-size-iota">ABCDEFGHIJKLMNOPQRSTUVWXYZ-0123456789</p>
    </div>
</body>

</html>
