

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper" style="background-color: #383E42;">
        <a class='btn btn-inverse' href="#">Primary</a>
<a class='btn btn-inverse btn-slim' href="#">Slim</a>
<a class='btn btn-inverse btn-fluid' href="#">Primary</a>
<br />
<a class='btn btn-inverse btn-secondary' href="#">Secondary</a>
<a class='btn btn-inverse btn-secondary btn-slim' href="#">Slim</a>
<a class='btn btn-inverse btn-secondary btn-fluid' href="#">Fluid</a>
<br />
<a class='btn btn-inverse btn-disabled' aria-disabled="true" href="#">Disabled</a>
<a class='btn btn-inverse btn-secondary btn-disabled' aria-disabled="true" href="#">Disabled</a>
<br />
<a class='btn btn-inverse btn-ripple' href="#">Primary (with ripple effect)</a>
<a class='btn btn-inverse btn-secondary btn-ripple' href="#">Secondary (with ripple effect)</a>
    </div>
    <script src="../../js/dl.js"></script>
</body>

</html>
