

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <a class="eiu-icn-arrow-forward" href="#"> Link with arrow- Default </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-link-focus" href="#"> Link with arrow- focus </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-link-active" href="#"> Link with arrow- active </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor" href="#"> Link with arrow (minor)- Default </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor eiu-link-focus" href="#"> Link with arrow (minor)- focus </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor eiu-link-active" href="#"> Link with arrow (minor)- active </a>
<br />
<br />

    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
