

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <a href='#' title='Home'>Sample Hyperlink</a>
<div class="demo-elem-space"></div>
<a href='#' title='Solomon Islands: State aims to double visitor arrivals by 2025'>
    <h3 class="type-zeta-econ-regular-lf">Solomon Islands: State aims to double visitor arrivals by 2025</h3>
</a>
<div class="demo-elem-space"></div>
<a href='#' title='Home' class="elem-text-link">Sample Hyperlink</a>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
