

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <ul class="elem-breadcrumbs">
    <li>
        <a href='#' title='Home'>Home</a>
    </li>
    <li>
        <a href='#' title='Products &amp; services'>Products &amp; services</a>
    </li>
    <li>
        <a href='#' title='Country Analysis'>Country Analysis</a>
    </li>
    <li class="active">
        <a href='#' title='Country Report'>Country Report</a>
    </li>
</ul>

<div class="demo-elem-space"></div>

<ul class="elem-breadcrumbs elem-breadcrumbs-mobile">
    <li class="active">
        <a href='#' title='Home'>Home</a>
    </li>
</ul>

<div class="demo-elem-space"></div>


    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
