

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <ul class="eiu-pagination-container"></ul>
<script id="entry-template" type="text/x-handlebars-template">
    <div>
    	<li class=page-number>
    		<a href="#" aria-label="jump to the first page" class="jump-to-first"> << </a>
    	</li>
    	<li class=page-number> 
    		<a href="#" class="go-to-previous"> < </a>
    	</li>
	    {{#each this.pagelist}}
			<li class='page-number'> 
					{{{checkcurrentpage this}}}
			</li>
		{{/each}}
		<li class=page-number> 
			<a href="#" class="go-to-next"> > </a>
		</li>
		<li class=page-number> 
			<a href="#" aria-label="jump to the last page" class="jump-to-last"> >> </a>
		</li>
	</div>
</script>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
