

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden" id="rbDefault" type="radio">
    <label for="rbDefault">Default</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-focus" id="rbFocus" type="radio">
    <label for="rbFocus">Focus</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-disabled" id="rbDisabled" type="radio" disabled>
    <label for="rbDisabled">Disabled</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden" id="rbChecked" type="radio" checked>
    <label for="rbChecked">Checked</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-focus" id="rbCheckedFocus" type="radio" checked>
    <label for="rbCheckedFocus">Checked-Focus</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-blue" id="rbChecked2" type="radio" checked>
    <label for="rbChecked2">Checked-type-2</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-blue eiu-rb-focus" id="rbChecked2Focus" type="radio" checked>
    <label for="rbChecked2Focus">Checked-type-2-focus</label>
</div>

<div class="eiu-radio-btn">
    <input class="eiu-visuallyHidden eiu-rb-checked" id="rbCheckedDisabled" type="radio" disabled>
    <label for="rbCheckedDisabled">Checked-Disabled</label>
</div>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
