

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dl.css">
    <title>Design System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="demo-component-wrapper">
        <a class='eiu-btn eiu-btn-primary' href="#" title="primary button">Primary</a>
<a class='eiu-btn eiu-btn-primary eiu-btn-slim' href="#" title="primary button">Slim</a>
<a class='eiu-btn  eiu-btn-primary eiu-btn-fluid' href="#">Fluid</a>
<br />
<a class='eiu-btn eiu-btn-secondary' href="#" title="primary button">Secondary</a>
<a class='eiu-btn eiu-btn-secondary eiu-btn-slim' href="#" title="primary button">Slim</a>
<a class='eiu-btn  eiu-btn-secondary eiu-btn-fluid' href="#">Fluid</a>
<br />
<a class='eiu-btn eiu-btn eiu-btn-disabled' href="#">Disabled</a>
<br />
<a class='eiu-btn eiu-btn-primary eiu-btn-ripple' href="#" title="primary button">Primary (with ripple effect)</a>
<a class='eiu-btn eiu-btn-secondary eiu-btn-ripple' href="#" title="primary button">Secondary (with ripple effect)</a>
<a href="" class="eiu-btn eiu-btn-primary eiu-btn-icon">
    <img src="../../images/icons/icn-search-white.svg" />
</a>
    </div>
    <script src="../../js/dl.js"></script>
    <script src="../../js/custom-views.js"></script>
</body>

</html>
