

<a class='js-btn btn-disabled btn-md' href="#">Disabled</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-rounded btn-md btn-primary' href="#">Rounded Button</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-pill btn-md btn-primary' href="#">Pill Button</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-circle btn-primary' href="#"></a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-primary btn-sm' href="#">Small</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-primary btn-md' href="#">Medium</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-primary btn-lg' href="#">Large</a>
<div class="demo-elem-space"></div>
<a class='js-btn btn-fluid btn-md btn-secondary' href="#">Fluid Button</a>
