

<div class="card">
</div>
<div class="card">
    <h6 class="type-overline-lf">article</h6>
    <div class="card-tags">
        <span class="type-iota-econ-regular">Topic</span>
        <span class="type-iota-econ-regular">Politics</span>
        <span class="type-iota-econ-regular">Columbia</span>
    </div>
    <h3 class="type-zeta-econ-bold-lf">Article Title</h3>
</div>
<div class="card card-inverse">
	<h3 class="type-delta-lf">Card Title</h3>
	<p class="type-zeta-econ-regular-lf">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
</div>
