


<div class="elem-card">
    <div class="elem-card-media">
    </div>
    <div class="elem-card-content">
    </div>
</div>
<div class="demo-elem-space"></div>
<div class="elem-card">
    <div class="elem-card-media">
    </div>
    <div class="elem-card-content">
        <h3 class="type-theta-econ-bold">Overview</h3>
        <h4 class="type-zeta-econ-regular">Forecast Summary</h4>
    </div>
</div>
<div class="demo-elem-space"></div>
<div class="elem-card">
    <div class="elem-card-content">
        <h3 class="type-zeta-econ-bold">Card Title</h3>
    </div>
</div>
<div class="demo-elem-space"></div>
<div class="elem-card">
    <div class="elem-card-media">
    </div>
    <div class="elem-card-content">
        <h3 class="type-zeta-econ-bold">Card Title</h3>
        <p class="type-theta-milo-regular">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
    </div>
</div>
<div class="demo-elem-space"></div>
<div class="elem-card">
    <div class="elem-card-media">
    </div>
    <div class="elem-card-content">
        <div class="elem-card-tags">
            <span class="type-caption">Global </span>
            <span class="type-caption">Analysis </span>
            <span class="type-caption">Politics </span>
            <span class="type-caption">International relations</span>
        </div>
        <h3 class="type-zeta-econ-bold">Card Title</h3>
        <div class="elem-card-tags">
            <span class="type-caption"> February 13th 2019</span>
        </div>
        <p class="type-theta-milo-regular">We offer a unique perspective on industries because of our understanding of global economic and political factors.</p>
    </div>
</div>
<div class="demo-elem-space"></div>
<div class="elem-card">
    <div class="elem-card-content">
        <div class="elem-card-tags">
            <span class="type-caption">Global </span>
            <span class="type-caption">Analysis </span>
            <span class="type-caption">Politics </span>
            <span class="type-caption">International relations</span>
        </div>
        <h3 class="type-zeta-econ-bold">Card Title</h3>
        <div class="elem-card-tags">
            <span class="type-caption"> February 13th 2019</span>
        </div>
        <p class="type-theta-milo-regular">The prime minister still wants to get her Brexit deal approved, and warned MPs against opting for a second vote.</p>
    </div>
</div>
