

<a class='eiu-btn eiu-btn-inverse' href="#">Primary</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-slim' href="#">Slim</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-fluid' href="#">Primary</a>
<br />
<a class='eiu-btn eiu-btn-inverse eiu-btn-secondary' href="#">Secondary</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-secondary eiu-btn-slim' href="#">Slim</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-secondary eiu-btn-fluid' href="#">Fluid</a>
<br />
<a class='eiu-btn eiu-btn-inverse eiu-btn-disabled' aria-disabled="true" href="#">Disabled</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-secondary eiu-btn-disabled' aria-disabled="true" href="#">Disabled</a>
<br />
<a class='eiu-btn eiu-btn-inverse eiu-btn-ripple' href="#">Primary (with ripple effect)</a>
<a class='eiu-btn eiu-btn-inverse eiu-btn-secondary eiu-btn-ripple' href="#">Secondary (with ripple effect)</a>
<a href="" class="eiu-btn eiu-btn-inverse eiu-btn-icon">
    <img src="../../images/icons/icn-search.svg" />
</a>
<a href="" class="eiu-btn eiu-btn-inverse eiu-btn-secondary eiu-btn-icon">
    <img src="../../images/icons/icn-search-white.svg" />
</a>
