

<div class="component-wrapper">
    	<div class="font-wrapper">
		    <p>type-iota-econ-regular</p>
		    <p>Econ Sans Regular • Font Size: 13px / 0.8125rem • Line-height: 20 px </p>
		</div>
	    <p class=type-iota-econ-regular>In late January, at the 2019 Tourism Focus event in the capital, Honiara, the government&#x27;s marketing arm, Tourism Solomons, announced an ambitious target of 60,000 visitor arrivals per year by 2025. Speaking at the tourism event, the prime minister, Rick Hou, indicated that the tourism sector could help to plug the gap left by the expected decline in the forestry sector, upon which the economy is heavily dependent.</p>
    	<div class="font-wrapper">
		    <p>type-iota-econ-bold</p>
		    <p>Econ Sans Bold • Font Size: 16 px / 1rem • Line-height: 20 px</p>
		</div>
	    <p class=type-iota-econ-bold>Solomon Islands: State aims to double visitor arrivals by 2025</p>
    	<div class="font-wrapper">
		    <p>type-iota-milo-regular</p>
		    <p>Milo TE Regular • Font Size: 16 px / 1rem • Line-height: 20 px</p>
		</div>
	    <p class=type-iota-milo-regular>In late January, at the 2019 Tourism Focus event in the capital, Honiara, the government&#x27;s marketing arm, Tourism Solomons, announced an ambitious target of 60,000 visitor arrivals per year by 2025. Speaking at the tourism event, the prime minister, Rick Hou, indicated that the tourism sector could help to plug the gap left by the expected decline in the forestry sector, upon which the economy is heavily dependent.</p>
    	<div class="font-wrapper">
		    <p>type-iota-milo-bold</p>
		    <p>Milo TE Bold • Font Size: 16 px / 1rem • Line-height: 20 px</p>
		</div>
	    <p class=type-iota-milo-bold>Solomon Islands: State aims to double visitor arrivals by 2025</p>
</div>
