

<a class="eiu-icn-arrow-forward" href="#"> Link with arrow- Default </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-link-focus" href="#"> Link with arrow- focus </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-link-active" href="#"> Link with arrow- active </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor" href="#"> Link with arrow (minor)- Default </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor eiu-link-focus" href="#"> Link with arrow (minor)- focus </a>
<br />
<br />
<a class="eiu-icn-arrow-forward eiu-minor eiu-link-active" href="#"> Link with arrow (minor)- active </a>
<br />
<br />

