

<a class="eiu-icn-arrow" href="#"> Link with arrow- Default </a>
<br />
<a class="eiu-icn-arrow eiu-minor" href="#"> Link with arrow (minor)- Default </a>
<br />
<br /><a class="eiu-icn-arrow-milo" href="#"> Link with arrow serif- Default </a>
<br />
<a class="eiu-icn-arrow-milo eiu-minor" href="#"> Link with arrow serif (minor)- Default </a>
<br />
<br />
<a class="eiu-icn-arrow-white" href="#"> Link with white arrow icon </a>
<br />
<a class="eiu-icn-arrow-white eiu-minor" href="#"> Link with white arrow icon (minor) </a>
<br />
<br />
<a class="eiu-emphasis" href="#"> Emphasised link</a>
<br />
<br />
<a class="eiu-icn-headset-link" href="#"> Actionlink</a>
<br />
<br />
<a class="eiu-icn-print-link" href="#"> Actionlink</a>
<br />
<br />
<a class="eiu-icn-screen-link" href="#"> Actionlink</a>
<br />
<br />
<a class="eiu-icn-trust-link" href="#"> Actionlink</a>
<br />
<br />
<a class="eiu-icn-sync-link" href="#"> Actionlink</a>
<br />
<br />
<a class="eiu-nav-link" href="#"> Navigation link</a>
<br />
<a class="eiu-nav-link eiu-selected" href="#"> Navigation selected link</a>
<br />
<br />
<a class="eiu-icn-nav-link" href="#"> Navigation icon link</a>
<br />
<a class="eiu-icn-nav-link eiu-selected" href="#"> Navigation icon link selected</a>
<br />
<br />
<div style="background-color:#383e42; padding: 10px; width: 400px;">
    <a class="eiu-nav-link-inverse" href="#"> Navigation link inverse</a>
    <br />
    <a class="eiu-nav-link-inverse eiu-selected" href="#"> Navigation link inverse selected</a>
    <br />
    <br />
    <a class="eiu-icn-nav-link-inverse" href="#"> Navigation icon link inverse</a>
    <br />
    <a class="eiu-icn-nav-link-inverse eiu-selected" href="#"> Navigation icon link inverse selected</a>
    <br />
    <br />
    <a class="eiu-nav-link-inverse-sec" href="#"> Navigation link inverse secondary</a>
    <br />
    <a class="eiu-nav-link-inverse-sec eiu-selected" href="#"> Navigation link inverse selected secondary</a>
    <br />
    <br />
    <a class="eiu-icn-nav-link-inverse-sec" href="#"> Navigation icon link inverse secondary</a>
    <br />
    <a class="eiu-icn-nav-link-inverse-sec eiu-selected" href="#"> Navigation icon link inverse selected secondary</a>
    <br />
    <br />
</div>
<br />
<br />
<a class="eiu-icn-twitter" href="#"></a>
<a class="eiu-icn-facebook" href="#"></a>
<a class="eiu-icn-instagram" href="#"></a>
<a class="eiu-icn-youtube" href="#"></a>
<a class="eiu-icn-linkedin" href="#"></a>
<a class="eiu-icn-mail" href="#"></a>
<a class="eiu-icn-print" href="#"></a>
<a class="eiu-icn-rssfeed" href="#"></a>
<br />
<a class="eiu-icn-twitter eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-facebook eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-instagram eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-youtube eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-linkedin eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-mail eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-print eiu-icn-disabled" href="#"></a>
<a class="eiu-icn-rssfeed eiu-icn-disabled" href="#"></a>
<br />
<br />
<div style="background-color:#383e42; padding: 10px; width: 400px;">
    <a class="eiu-icn-twitter-sec" href="#"></a>
    <a class="eiu-icn-facebook-sec" href="#"></a>
    <a class="eiu-icn-instagram-sec" href="#"></a>
    <a class="eiu-icn-youtube-sec" href="#"></a>
    <a class="eiu-icn-linkedin-sec" href="#"></a>
    <a class="eiu-icn-mail-sec" href="#"></a>
    <a class="eiu-icn-print-sec" href="#"></a>
    <a class="eiu-icn-rssfeed-sec" href="#"></a>
    <br />
    <a class="eiu-icn-twitter-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-facebook-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-instagram-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-youtube-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-linkedin-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-mail-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-print-sec eiu-icn-disabled" href="#"></a>
    <a class="eiu-icn-rssfeed-sec eiu-icn-disabled" href="#"></a>
</div>
