

<div class="bg-brand-red"></div>
<div class="bg-bejing"></div>
<div class="bg-thimpu"></div>
<div class="bg-sec-kiev"></div>
<div class="bg-sec-moscow"></div>
<div class="bg-sec-london"></div>
<div class="bg-sec-cardiff"></div>
<div class="bg-sec-berlin"></div>
<div class="bg-sec-chicago"></div>
<div class="bg-sec-athens"></div>
<div class="bg-sec-melbourne"></div>
<div class="bg-sec-honolulu"></div>
<div class="bg-sec-miami"></div>
<div class="bg-ext-amsterdam"></div>
<div class="bg-ext-nairobi"></div>
<div class="bg-ext-tokyo"></div>
<div class="bg-ext-cairo"></div>
<div class="bg-ext-delhi"></div>
