

<div class="component-wrapper">
    <h2 class="type-zeta-econ-bold">Institutional range</h2>
    <div class="flex-grid">
        <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
            <h3 class="type-eta-econ-bold">brand-red</h3>
            <div class="color-box brand-red"></div>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
            <h3 class="type-eta-econ-bold">text-black</h3>
            <div class="color-box text-black"></div>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
            <h3 class="type-eta-econ-bold">white</h3>
            <div class="color-box white"></div>
        </div>
    </div>
</div>
