

<h1 class="type-alpha-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h1>
<h2 class="type-beta-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h2>
<h3 class="type-gamma-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h3>
<h4 class="type-delta-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h4>
<h5 class="type-epsilon-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h5>
<h6 class="type-zeta-econ-bold-lf">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</h6>
