

<style>
.wrapper {
    overflow-x: auto;
    width: 100%;
}

table {
    font-family: "Econ Sans";
    font-size: 16px;
}

table tr td {
    padding: 12px;

}

table tr .tbh {
    font-weight: bold;
}

table tr:nth-child(2n) {
    background-color: #E3EBF0;
}


sup {
    vertical-align: super;
}

@media screen and (max-width: 767px) {
    .wrapper {
        overflow-x: scroll;
        margin-left: 150px;

    }

    table {
        font-size: 13px;
    }

    table tr td:first-child {
        position: absolute;
        width: 150px;
        left: 0;
        padding-left: 10px;
    }

    table tr td.footnote {
        width: 100%;
    }

    table tr td:first-child.tbc {
        position: static;
        width: 100%;
    }
}
</style>
<div class="flex-grid">
    <div class="wrapper">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="data" id="cf_cfcn_updater_20190601t000000_0010_csv.csv">
            <tbody>
                <tr>
                    <td colspan="11" class="tbh">Economic structure, income and market size</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbc">&nbsp;</td>
                    <td colspan="1" class="tbc-r">2014<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2015<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2016<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2017<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2018<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2019<num><sup>c</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2020<num><sup>c</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2021<num><sup>c</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2022<num><sup>c</sup></num>
                    </td>
                    <td colspan="1" class="tbc-r">2023<num><sup>c</sup></num>
                    </td>
                </tr>
                <tr>
                    <td colspan="11" class="tbc">Population, income and market size</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Population (m)</td>
                    <td colspan="1" class="tbd-r">1,357.5<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">1,363.7<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">1,371.1<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">1,379.2<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">1,385.1</td>
                    <td colspan="1" class="tbd-r">1,390.4</td>
                    <td colspan="1" class="tbd-r">1,395.1</td>
                    <td colspan="1" class="tbd-r">1,398.8</td>
                    <td colspan="1" class="tbd-r">1,401.7</td>
                    <td colspan="1" class="tbd-r">1,403.7</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">GDP (US$ bn at market exchange rates)</td>
                    <td colspan="1" class="tbd-r">10,535</td>
                    <td colspan="1" class="tbd-r">11,226</td>
                    <td colspan="1" class="tbd-r">11,222</td>
                    <td colspan="1" class="tbd-r">12,062</td>
                    <td colspan="1" class="tbd-r">13,508</td>
                    <td colspan="1" class="tbd-r">14,084</td>
                    <td colspan="1" class="tbd-r">15,082</td>
                    <td colspan="1" class="tbd-r">16,097</td>
                    <td colspan="1" class="tbd-r">16,706</td>
                    <td colspan="1" class="tbd-r">18,141</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">GDP per head (US$ at market exchange rates)</td>
                    <td colspan="1" class="tbd-r">7,760<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">8,230<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">8,180<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">8,750<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">9,750</td>
                    <td colspan="1" class="tbd-r">10,130</td>
                    <td colspan="1" class="tbd-r">10,810</td>
                    <td colspan="1" class="tbd-r">11,510</td>
                    <td colspan="1" class="tbd-r">11,920</td>
                    <td colspan="1" class="tbd-r">12,920</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Private consumption (US$ bn)</td>
                    <td colspan="1" class="tbd-r">3,948.0</td>
                    <td colspan="1" class="tbd-r">4,271.1</td>
                    <td colspan="1" class="tbd-r">4,416.3</td>
                    <td colspan="1" class="tbd-r">4,704.5</td>
                    <td colspan="1" class="tbd-r">5,290.8</td>
                    <td colspan="1" class="tbd-r">5,547.5</td>
                    <td colspan="1" class="tbd-r">5,992.0</td>
                    <td colspan="1" class="tbd-r">6,460.2</td>
                    <td colspan="1" class="tbd-r">6,762.6</td>
                    <td colspan="1" class="tbd-r">7,438.7</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Private consumption per head (US$)</td>
                    <td colspan="1" class="tbd-r">2,910<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">3,130<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">3,220<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">3,410<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">3,820</td>
                    <td colspan="1" class="tbd-r">3,990</td>
                    <td colspan="1" class="tbd-r">4,300</td>
                    <td colspan="1" class="tbd-r">4,620</td>
                    <td colspan="1" class="tbd-r">4,820</td>
                    <td colspan="1" class="tbd-r">5,300</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">GDP (US$ bn at PPP)</td>
                    <td colspan="1" class="tbd-r">18,485</td>
                    <td colspan="1" class="tbd-r">20,162</td>
                    <td colspan="1" class="tbd-r">21,495</td>
                    <td colspan="1" class="tbd-r">23,016</td>
                    <td colspan="1" class="tbd-r">25,099</td>
                    <td colspan="1" class="tbd-r">27,220</td>
                    <td colspan="1" class="tbd-r">29,422</td>
                    <td colspan="1" class="tbd-r">31,580</td>
                    <td colspan="1" class="tbd-r">33,561</td>
                    <td colspan="1" class="tbd-r">35,586</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">GDP per head (US$ at PPP)</td>
                    <td colspan="1" class="tbd-r">13,620<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">14,790<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">15,680<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">16,690<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">18,120</td>
                    <td colspan="1" class="tbd-r">19,580</td>
                    <td colspan="1" class="tbd-r">21,090</td>
                    <td colspan="1" class="tbd-r">22,580</td>
                    <td colspan="1" class="tbd-r">23,940</td>
                    <td colspan="1" class="tbd-r">25,350</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Personal disposable income (Rmb bn)</td>
                    <td colspan="1" class="tbd-r">27,782</td>
                    <td colspan="1" class="tbd-r">30,448</td>
                    <td colspan="1" class="tbd-r">33,211</td>
                    <td colspan="1" class="tbd-r">36,376</td>
                    <td colspan="1" class="tbd-r">39,717<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">42,965</td>
                    <td colspan="1" class="tbd-r">46,450</td>
                    <td colspan="1" class="tbd-r">49,702</td>
                    <td colspan="1" class="tbd-r">53,233</td>
                    <td colspan="1" class="tbd-r">56,469</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Personal disposable income (US$ bn)</td>
                    <td colspan="1" class="tbd-r">4,522</td>
                    <td colspan="1" class="tbd-r">4,889</td>
                    <td colspan="1" class="tbd-r">4,998</td>
                    <td colspan="1" class="tbd-r">5,382</td>
                    <td colspan="1" class="tbd-r">6,003<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">6,264</td>
                    <td colspan="1" class="tbd-r">6,730</td>
                    <td colspan="1" class="tbd-r">7,162</td>
                    <td colspan="1" class="tbd-r">7,435</td>
                    <td colspan="1" class="tbd-r">8,033</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Growth of real disposable income (%)</td>
                    <td colspan="1" class="tbd-r">8.4</td>
                    <td colspan="1" class="tbd-r">7.1</td>
                    <td colspan="1" class="tbd-r">7.2</td>
                    <td colspan="1" class="tbd-r">7.5</td>
                    <td colspan="1" class="tbd-r">6.4<num><sup>a</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">6.2</td>
                    <td colspan="1" class="tbd-r">5.6</td>
                    <td colspan="1" class="tbd-r">4.9</td>
                    <td colspan="1" class="tbd-r">4.8</td>
                    <td colspan="1" class="tbd-r">3.7</td>
                </tr>
                <tr>
                    <td colspan="11" class="tbc">Memorandum items</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Share of world population (%)</td>
                    <td colspan="1" class="tbd-r">18.68<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">18.55<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">18.47<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">18.40<num><sup>b</sup></num>
                    </td>
                    <td colspan="1" class="tbd-r">18.32</td>
                    <td colspan="1" class="tbd-r">18.23</td>
                    <td colspan="1" class="tbd-r">18.14</td>
                    <td colspan="1" class="tbd-r">18.03</td>
                    <td colspan="1" class="tbd-r">17.92</td>
                    <td colspan="1" class="tbd-r">17.94</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Share of world GDP (% at market exchange
                        rates)</td>
                    <td colspan="1" class="tbd-r">13.42</td>
                    <td colspan="1" class="tbd-r">15.11</td>
                    <td colspan="1" class="tbd-r">14.90</td>
                    <td colspan="1" class="tbd-r">15.11</td>
                    <td colspan="1" class="tbd-r">16.03</td>
                    <td colspan="1" class="tbd-r">16.27</td>
                    <td colspan="1" class="tbd-r">16.42</td>
                    <td colspan="1" class="tbd-r">16.66</td>
                    <td colspan="1" class="tbd-r">16.60</td>
                    <td colspan="1" class="tbd-r">17.10</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Share of world GDP (% at PPP)</td>
                    <td colspan="1" class="tbd-r">16.86</td>
                    <td colspan="1" class="tbd-r">17.61</td>
                    <td colspan="1" class="tbd-r">17.98</td>
                    <td colspan="1" class="tbd-r">18.23</td>
                    <td colspan="1" class="tbd-r">18.83</td>
                    <td colspan="1" class="tbd-r">19.45</td>
                    <td colspan="1" class="tbd-r">19.93</td>
                    <td colspan="1" class="tbd-r">20.77</td>
                    <td colspan="1" class="tbd-r">21.11</td>
                    <td colspan="1" class="tbd-r">21.42</td>
                </tr>
                <tr>
                    <td colspan="1" class="tbd">Share of world exports of goods (%)</td>
                    <td colspan="1" class="tbd-r">12.12</td>
                    <td colspan="1" class="tbd-r">13.30</td>
                    <td colspan="1" class="tbd-r">12.73</td>
                    <td colspan="1" class="tbd-r">12.79</td>
                    <td colspan="1" class="tbd-r">12.71</td>
                    <td colspan="1" class="tbd-r">12.94</td>
                    <td colspan="1" class="tbd-r">12.86</td>
                    <td colspan="1" class="tbd-r">12.92</td>
                    <td colspan="1" class="tbd-r">13.17</td>
                    <td colspan="1" class="tbd-r">13.35</td>
                </tr>
                <tr>
                    <td colspan="11" class="footnote">
                        <num><sup>a</sup></num> Actual.
                        <num><sup>b</sup></num> Economist Intelligence Unit estimates.
                        <num><sup>c</sup></num> Economist Intelligence Unit forecasts.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
