

<div class="component-wrapper">
    <label for="typeFontSelector">Select a font to view style</label>
    <select id="typeFontSelector">
        <option data-info="Econ Sans Light,Font Size: 112px / 7rem, Line height: 140px" data-class="type-tera">Tera (OS)</option>
        <option data-info="Econ Sans Light,Font Size: 112px / 7rem, Line height: 140px" data-class="type-tera type-lf">Tera</option>
        <option data-info="Econ Sans Light, Font Size: 86px / 5.375rem, Line height: 108px" data-class="type-giga">Giga (OS)</option>
        <option data-info="Econ Sans Light, Font Size: 86px / 5.375rem, Line height: 108px" data-class="type-giga type-lf">Giga</option>
        <option data-info="Econ Sans Light, Font Size: 67px / 4.1875rem, Line height: 84px" data-class="type-mega">Mega (OS)</option>
        <option data-info="Econ Sans Light, Font Size: 67px / 4.1875rem, Line height: 84px" data-class="type-mega type-lf">Mega</option>
        <option data-info="Econ Sans Regular, Font Size: 51px / 3.1875rem, Line height: 64px" data-class="type-alpha">Alpha (OS)</option>
        <option data-info="Econ Sans Regular, Font Size: 51px / 3.1875rem, Line height: 64px" data-class="type-alpha type-lf">Alpha</option>
        <option data-info="Econ Sans Regular, Font Size: 45px / 2.8125rem, Line height: 56px" data-class="type-beta">Beta (OS)</option>
        <option data-info="Econ Sans Regular, Font Size: 45px / 2.8125rem, Line height: 56px" data-class="type-beta type-lf">Beta</option>
        <option data-info="Econ Sans Medium, Font Size: 35px / 2.1875rem, Line height: 44px" data-class="type-gamma">Gamma (OS)</option>
        <option data-info="Econ Sans Medium, Font Size: 35px / 2.1875rem, Line height: 44px" data-class="type-gamma type-lf">Gamma</option>
        <option data-info="Econ Sans Medium, Font Size: 29px / 1.8125rem, Line height: 36px" data-class="type-delta">Delta (OS)</option>
        <option data-info="Econ Sans Medium, Font Size: 29px / 1.8125rem, Line height: 36px" data-class="type-delta type-lf">Delta</option>
        <option data-info="Econ Sans Bold, Font Size: 24px / 1.5rem, Line-height: 36px" data-class="type-epsilon">Epsilon (OS)</option>
        <option data-info="Econ Sans Bold, Font Size: 24px / 1.5rem, Line-height: 36px" data-class="type-epsilon type-lf">Epsilon</option>
        <optgroup label="Zeta">
            <option data-info="Econ Sans Regular • Font Size: 21px / 1.3125rem • Line height: 32px" data-class="type-zeta-econ-regular">Econ Regular (OS)</option>
            <option data-info="Econ Sans Regular • Font Size: 21px / 1.3125rem • Line height: 32px" data-class="type-zeta-econ-regular type-lf">Econ Regular</option>
            <option data-info="Econ Sans Bold • Font Size: 21px / 1.3125rem • Line height: 32px" data-class="type-zeta-econ-bold">Econ Bold (OS)</option>
            <option data-info="Econ Sans Bold • Font Size: 21px / 1.3125rem • Line height: 32px" data-class="type-zeta-econ-bold type-lf">Econ Bold</option>
            <option data-info="Milo TE Regular • Font Size: 21px / 1.3125rem • Line-height: 32px" data-class="type-zeta-milo-regular">Milo Regular</option>
            <option data-info="Milo TE Bold • Font Size: 21px / 1.3125rem • Line-height: 32px" data-class="type-zeta-milo-bold">Milo Bold</option>
        </optgroup>
        <optgroup label="Eta">
            <option data-info="Econ Sans Regular • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-econ-regular">Econ Regular (OS)</option>
            <option data-info="Econ Sans Regular • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-econ-regular type-lf">Econ Regular</option>
            <option data-info="Econ Sans Bold • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-econ-bold">Econ Bold (OS)</option>
            <option data-info="Econ Sans Bold • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-econ-bold type-lf">Econ Bold</option>
            <option data-info="Milo TE Regular • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-milo-regular">Milo Regular</option>
            <option data-info="Milo TE Bold • Font Size: 18px / 1.125rem • Line-height: 28px" data-class="type-eta-milo-bold">Milo Bold</option>
        </optgroup>
        <optgroup label="Theta">
            <option data-info="Econ Sans Regular • Font Size: 16px / 1rem • Line-height: 24 px" data-class="type-theta-econ-regular">Econ Regular (OS)</option>
            <option data-info="Econ Sans Regular • Font Size: 16px / 1rem • Line-height: 24 px" data-class="type-theta-econ-regular type-lf">Econ Regular</option>
            <option data-info="Econ Sans Bold • Font Size: 16px / 1rem • Line-height: 24px" data-class="type-theta-econ-bold">Econ Bold (OS)</option>
            <option data-info="Econ Sans Bold • Font Size: 16px / 1rem • Line-height: 24px" data-class="type-theta-econ-bold type-lf">Econ Bold</option>
            <option data-info="Milo TE Regular • Font Size: 16px / 1rem • Line-height: 24px" data-class="type-theta-milo-regular">Milo Regular</option>
            <option data-info="Milo TE Bold • Font Size: 16px / 1rem • Line-height: 24px" data-class="type-theta-milo-bold">Milo Bold</option>
        </optgroup>
        <optgroup label="Iota">
            <option data-info="Econ Sans Regular • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-iota-econ-regular">Econ Regular (OS)</option>
            <option data-info="Econ Sans Regular • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-iota-econ-regular type-lf">Econ Regular</option>
            <option data-info="Econ Sans Bold • Font Size: 16px / 1rem • Line-height: 20px" data-class="type-iota-econ-bold">Econ Bold (OS)</option>
            <option data-info="Econ Sans Bold • Font Size: 16px / 1rem • Line-height: 20px" data-class="type-iota-econ-bold type-lf">Econ Bold</option>
            <option data-info="Milo TE Regular • Font Size: 16px / 1rem • Line-height: 20px" data-class="type-iota-milo-regular">Milo Regular</option>
            <option data-info="Milo TE Bold • Font Size:16 px / 1rem • Line-height: 20px" data-class="type-iota-milo-bold">Milo Bold</option>
        </optgroup>
        <option data-info="Econ Sans Light • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-caption">Caption (OS)</option>
        <option data-info="Econ Sans Light • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-caption type-lf">Caption</option>
        <option data-info="Econ Sans Bold • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-overline">Overline (OS)</option>
        <option data-info="Econ Sans Bold • Font Size: 13px / 0.8125rem • Line-height: 20px" data-class="type-overline type-lf">Overline</option>
    </select>
    <div class="font-wrapper">
        <p id="typeFontId">type-tera</p>
        <p id="typeFontInfo">Econ Sans Light,Font Size: 112px / 7rem, Line height: 140px</p>
    </div>
    <p id="typeFontSample" class="type-tera">The quick brown fox jumps over the lazy dog - 0 1 2 3 4 5 6 7 8 9</p>
</div>
<style type="text/css">
    select {
        height: 30px;
    }

    #typeFontSample {
        padding: 10px 0;
        margin-top: 10px;
    }
</style>
<script type="text/javascript">
window.onload = function() {
    $('#typeFontSelector').on("change", function() {
        var $self = $(this),
            $selectedOption = $self.find("option:selected"),
            dataSet = $selectedOption.data();
        $('#typeFontId').text(dataSet.class);
        $('#typeFontSample').attr("class", dataSet.class);
        $('#typeFontInfo').text(dataSet.info);
    });
}
</script>
