
<div class="component-wrapper">
	<div class="border"></div>
	<p class="type-overline"> branding </p>
    {{#each logos}}
	    <p>{{name}}</p>
	    <img src={{path src}} /> 
    {{/each}}
</div>