<div class="elem-form-input elem-checkbox">
	<input name="input-name" id="inputId1" type="checkbox" />
	<label for="inputId1">Action Text</label>
</div>

<div class="elem-form-input elem-checkbox intermediate-state">
	<input name="input-name" id="inputId2" type="checkbox" />
	<label for="inputId2">Action Text</label>
</div>